# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts
expo-web*.log
expo-android*.log

# TypeScript
*.tsbuildinfo

# Native generated folders
/android
/ios

# Local environment files
.env*.local
